<%- include('../partials/header') %>

<!-- SPOT LINKS IN CARDS -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% spots.forEach(function(spot) { %>
      <div class="col">
        <form action="/favorites/<%= spot._id %>?_method=PUT" method="POST" >
          <button type="submit"> Add to favorites</button>
        </form>
        <div class="card" style="width: 18rem;">
          <img src='<%= spot.coverImage %>' class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div>
          <a href="/spots/<%= spot._id %>"><%= spot.name %></a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= spot.level %></li>
            <li class="list-group-item"><%= spot.season %></li>
          </ul>
          <div class="card-body">
            <a href="/spots/<%= spot.id.forecast %>"><%= spot.forecast %></a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include('../partials/footer') %>

