%- include('../partials/header') %>

<section id="show-page">
  <div>Location: </div>
  <div><%= spot.location %></div>
  <div>Spot Name: </div>
  <div><%= spot.spotName %></div>
  <div>Season: </div>
  <div><%= spot.season %></div>
  <div>Water Temperature: </div>
  <div><%= spot.waterTemperature %></div>
  <div>Wave Type: </div>
  <div><%= spot.waveType %></div>
  <div>Difficulty Rating: </div>
  <div><%= spot.mpaaRating %></div>
</section>
 <!-- SAVED SECTION FOR POST??? --> 

</form>
<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/spots/<%= spot._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Review">
</form>

<% if (spot.reviews.length) { %>
    <table>
        <thead>
          <tr>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% spot.reviews.forEach(function(r) { %>
          <% total += r.rating %>
            <tr>
              <td><%= r.createdAt.toLocaleDateString() %></td>
            </tr>
          <% }); %>
          <tr>
            <td colspan="2"></td>
            <td>
              <strong>
                <%= (total / spot.reviews.length).toFixed(1) %>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
    <% } %>
      
    <%- include('../partials/footer') %>
    