<%- include('../partials/header') %>

<section id="spot-show">
  <img src="<%= spot.image %>">
  <img src="<%= spot.spotImage %>">
  <div>Location: <%= spot.location %></div>
  <div>Spot Name: <%= spot.name %></div>
  <div>Season: <%= spot.season %></div>
  <div>Water Temperature: <%= spot.waterTemp %></div>
  <div>Wave Type: <%= spot.waveType %></div>
  <div>Description: <%= spot.description %></div>
</section>
 <!-- SAVED SECTION FOR POST??? --> 
</form>

<br><br><div id="reveiw-section"><h2>Reviews</h2>
<% if (user) {%>
  <form id="add-review-form" method="POST"
  action="/spots/<%= spot._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Review">
</form>
<% } %>
</div>

<% if (spot.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% spot.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.content %></td>
        </tr>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %>
            <% if (user) {%>
            <form action="/spots/<%= spot._id %>/<%= review._id %>/reviews?_method=DELETE"
              class="delete-form" method="POST">
            <button type="submit">X</button>
            </form>
            <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
              <input name="content" value="<%= review.content %>">
              <button type="submit">Edit</button>
            </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>

<% } %>
<%- include('../partials/footer') %>
    